/* Definir a margem, background e color do body */
html,
body {
    margin: 0;
    background-color: #1F2021;
    color: white;
    overflow-x: hidden;
    max-width: 100%;
}


/* Ajustes do bloco do header */
.blo_header {
    margin: 0;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Ajustes do bloco do rodapé */
.blo_footer {
    margin: 0;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Ajustes do bloco do body */
.blo_body {
    margin: 30px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}


/* Ajustes do bloco dos formulários, botões, lista expandida e radio */
.blo_enc_dec {
    margin: 0px;
    display: flex;
    flex-direction: column;
}


/* Ajustes das opções de multipla escolha (radio) */
input[type='radio'] {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    align-items: center;
    text-align: center;
}


/* Ajustes da lista expandida */
.lista_expandida {
    font-size: 20px;
    border-radius: 10px;
}


/* Ajustes do texto do incremendo do CIFRA DE CÉSAR */
.texto_incremento {
    font-size: 20px;
}


/* Ajustes do botão do modo MANUAL ou AUTOMÁTICO */
.modo_automatico {
    font-size: 20px;
    border-radius: 10px;
}


/* Ajustes do botão para CODIFICAR ou DECODIFICAR */
.botao_submit {
    font-size: 20px;
    border-radius: 10px;
    white-space: pre;
    background-color: #aa1e1e;
    color: white;
}


/* Ajustes da barra deslizante do CIFRA DE CÉSAR */
input[type=range] {
    outline: 0;
    margin: 0;
    padding: 0;
    height: 15px;
    width: 265px;
    border-radius: 100px;
}


textarea {
    width: 500px;
    height: 120px;
    border-radius: 10px;
    white-space: pre;
}


.instrucoes_mobile
{
    display: none;
}

.instrucoes_desktop
{
    display: show; 
}


/* RESOLUÇÃO MOBILE */
@media (max-width: 600px) {

    .instrucoes_mobile
    {
        display: block;
    }

    .instrucoes_desktop
    {
        display: none;
    }


    /* Ajustes dos formulários */
    textarea {
        overflow-y: hidden;
        max-height: 180px;
        max-width: 55%;
        border-radius: 10px;
        white-space: pre;
    }



}


